* {
	font-family: "VazirFD";
	font-size: 14px;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden !important;
}

body {
	font-family: "VazirFD";
	direction: rtl;
	overflow-x: hidden !important;
	margin: 0;
	padding: 0;
	background-color: #E9EAED;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

a,
a:hover,
a:focus,
figure,
figure:hover,
figcaption,
i,
i:hover,
img,
i {
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}

/* .title{
    text-align: center;
} */